/* --- */
.popups-bg {z-index:-1;opacity:0;position:absolute;top:0;left:0;overflow:hidden;display:block;width:100%;height:100%;background:rgba(0,0,0, 0.27);}
.popups-bg::after {content:' ';position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0, 0.5);}
.popups-wrap {z-index:-1;position:absolute;top:0;left:0;overflow:hidden;display:block;width:100%;height:100%;background:transparent;}
.popups-wrap::after {content:' ';position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
.popup-bl {
	opacity:0;z-index:-1;position:absolute;top:0;left:50%;
	display:block;width:380px;text-align:left;margin-left:-190px;background:#fff;
	-moz-box-shadow:-2px 2px 10px rgba(0,0,0, 0.16);-webkit-box-shadow:-2px 2px 10px rgba(0,0,0, 0.16);box-shadow:-2px 2px 10px rgba(0,0,0, 0.16);
	-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;
}
.popup-bl .bl {text-align:left;padding:20px 20px 15px 20px;}
.popup-bl .bl::after {content:' ';clear:both;display:block;overflow:hidden;width:100%;height:1px;}
.popup-bl .close {cursor:pointer;position:absolute;z-index:1;top:-15px;right:-14px;overflow:visible;width:30px;height:30px;color:transparent !important;font-size:0 !important;background:#fff;-moz-box-shadow:0 2px 4px 0 rgba(0,0,0, 0.5);-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0, 0.5);box-shadow:0 2px 4px 0 rgba(0,0,0, 0.5);-moz-border-radius:30px;-webkit-border-radius:30px;border-radius:30px;}
.popup-bl .close::before,.popup-bl .close::after {content:' ';position:absolute;top:50%;left:50%;overflow:hidden;width:16px;height:3px;margin-top:-1px;margin-left:-8px;background:#000;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;}
.popup-bl .close::before {-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.popup-bl .close::after {-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.popup-bl .close:hover::before,.popup-bl .close:hover::after {background:#e9383a;}

.popups-bg {
	-moz-transition:opacity 250ms ease 0ms;-webkit-transition:opacity 250ms ease 0ms;transition:opacity 250ms ease 0ms;
	-moz-transition-delay:300ms;-webkit-transition-delay:300ms;transition-delay:300ms;
	pointer-events: none;
	will-change: opacity;
}
.popup-bl {opacity:0;
	-moz-transform:scale(0.6);-webkit-transform:scale(0.6);transform:scale(0.6);
	-moz-transition:opacity 250ms ease 0ms,transform 250ms ease 0ms;
	-webkit-transition:opacity 250ms ease 0ms,transform 250ms ease 0ms;
	transition:opacity 250ms ease 0ms,transform 250ms ease 0ms;
	-moz-transition-delay:0ms;-webkit-transition-delay:0ms;transition-delay:0ms;
	will-change: opacity;
}
body.show-popups-preload .popups-bg,
body.show-popups .popups-bg {z-index:900;opacity:1;width:100%;}
body.show-popups-preload .popups-wrap,
body.show-popups .popups-wrap {z-index:901;opacity:1;width:100%;}
body.show-popups .popup-bl.show {opacity:1;z-index:1;display:block;}

body.show-popups-preload .popups-bg,
body.show-popups .popups-bg {-moz-transition-delay:0ms;-webkit-transition-delay:0ms;transition-delay:0ms;}
body.show-popups-preload .popup-bl,
body.show-popups .popup-bl {-moz-transition-delay:200ms;-webkit-transition-delay:200ms;transition-delay:200ms;}
body.show-popups .popup-bl.show {-moz-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);}