.slide-1{
  @extend %flex;
  align-items: flex-end;
  background-image:url(../assets/images/slides/Slide1.jpg);
  @extend %bg-image;
}
.slide-1__content{
  margin: 0 1rem 5.4rem 36.5rem;
}
@media(max-width:1680px){
  .slide-1{
    background-position: left center;
  }
  .slide-1__content{
    margin: 0 1rem 5.4rem 10rem;
  }
}

@media(max-width:1400px){
  .slide-1{
    background-image: url(../assets/images/media/1400/slide-1.jpg);
  }
}

@media(max-width:600px){
  .slide-1{
    background-image: url(../assets/images/media/mobile/slide-1.jpg);
  }

  .slide-1__content{
    margin: 0 1rem 0 30vw;
  }
}
